/* -------- COLORS -------- */
/*
### Primary

- Dark Violet: hsl(256, 26%, 20%)
- Grayish Blue: hsl(216, 30%, 68%)

### Neutral

- Very Dark Violet: hsl(270, 9%, 17%)
- Dark Grayish Violet: hsl(273, 4%, 51%)
- Very Light Gray: hsl(0, 0%, 98%)
*/


/* -------- COLOURS -------- */

.is--primary {
    color: hsl(256, 26%, 20%);
}

.is--light {
    color: hsl(0, 0%, 98%);
}

.bg-light {
    color: hsl(0, 0%, 98%);
}

.bg-primary {
    background-color: hsl(256, 26%, 20%) !important;
}

/* -------- COMMON ELEMENTS -------- */

body {
    font-family: 'karla';
    color: hsl(273, 4%, 51%);
    background-color: white;
    width:100%;
    height: 100%;
    line-height: 1.75;
}



.line {
    max-width: 150px;
    height: 1px;
    background-color: hsl(0, 0%, 98%);
    margin: 65px 0;
}

.header-container {
    margin-bottom: 100px;
    padding: 0 30px;
}

.mobile {
    display: none;
}

.text-responsive {

    text-align: left;   /* -------- responsive behaviour will be center -------- */
} 

hr {
    margin-bottom: 0;
    margin-top: 0;
}

.attribution a {
    color: hsl(216, 30%, 68%);
}

/* -------- TITLES -------- */

h1, h2 {
    font-size: 4.55rem;
}

h3 {
    font-size: 3.5rem;
}

h4 {
    font-size: 2rem;
    
}

h6, .h6 {
    font-family: 'karla';
    letter-spacing: 1.5;
    text-transform: uppercase;
}

h1, h2, h3, h4, h5,
.h1, .h2, .h3, .h4, .h5 {
  margin-bottom: 1.5rem;
  font-weight: 500;
  line-height: 1.1;
  font-family: 'DM Serif Display';
}


/* -------- NAVIGATION BAR -------- */
.navbar {
    padding: 25px 0px;
}

.nav-item {
    text-transform: uppercase;
    font-size: 16px;
    padding: 0 12.5px;
}

.last-item {

    padding-right: 0px;
    margin: auto 0;
    
}

.navbar-light .navbar-toggler-icon {
    background-image: url("images/icon-hamburger.svg");
    width: 32px;
    height: 32px;
  }

.navbar-light .navbar-toggler {
    color: transparent;
    border-color: transparent;
}

.menu-wave {
    width: 100%;
}

/* -------- HERO SECTION -------- */

.hero {
 background-color: hsl(256, 26%, 20%);
 padding-top: 35px;
 min-height: 37.5rem;
 position: relative;
 color: hsl(0, 0%, 98%);
}



.wave-container-hero{
    position: absolute;
    z-index: 5;
    top: 0px;
    right: 0px;
    
}

.wave-container-usp{
    position: absolute;
    z-index: 5;
    bottom: -50%;
    left: 0px;
    
}

.wave-container-first{
    position: absolute;
    bottom: -165px ;
    left: 0px;
    
}

.wave-container-second{
    position: absolute;
    bottom: -180px;
    right: 0px;
    
}

.hero-wave-mobile {
    top: 0;
    left: -15px;
    margin-left:-15px;
}

.hero-wave {
    max-height: 515px;

} 

.hero-grid {
    position: relative;
}

.image-intro-desktop {
    position: relative;
    top: 65px;
}


/* -------- USP -------- */

.container-xl {
    padding-top: 240px;
    padding-bottom: 165px;
}

.grey {
    background-color: hsl(256, 26%, 20%);
}



.usp-icon {
    margin-bottom: 40px;
}


.usp-paragraph {
    margin-top: 25px;
}


/* -------- CTA STRIP -------- */

.CTA-container {
    background-color: hsl(256, 26%, 20%);
    padding-top: 50px;
    padding-bottom: 50px;
    min-height: 15.63rem;
    position: relative;
    color: hsl(0, 0%, 98%);
   }


.wave-container-hero{
    position: absolute;
    z-index: 5;
    top: 0px;
    right: 0px;
    
}

.CTA-wave {
    height: 100%;
    position: absolute;
    top: 0px;
    right: 0px;
    

} 

.CTA-first-column {
    grid-column: 2 / span 5;
}

.CTA-second-column {
    grid-column: 7/ span 1;
}

.CTA-third-column {
    grid-column: 9 / span 3;
    justify-self: end;
}


/* -------- BUTTONS -------- */
.btn {

    background-color: transparent;
    border: 2px solid transparent;
    border-radius: 0px;
    padding: 12px 25px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 1.5px;
  }


.btn-primary {
    color: hsl(256, 26%, 20%);
    border-color: hsl(256, 26%, 20%); 

  }
  
  .btn-primary:hover {
    color: hsl(0, 0%, 98%);
    background-color: hsl(256, 26%, 20%);
    border-color: hsl(256, 26%, 20%); 
  }

.btn-secondary {
    color: hsl(0, 0%, 98%);
    border-color: hsl(0, 0%, 98%);

}

.btn-secondary:hover {
    color:  hsl(256, 26%, 20%);
    background-color: hsl(0, 0%, 98%);
    border-color: hsl(256, 26%, 20%);;

}

/* -------- FOOTER -------- */

.footer {
    margin-top: 140px;
    background-color: hsl(0, 0%, 98%);
    position: relative;
}

.wave-footer{
    position: absolute;
    top: 0px;
    left: 0px;
    
}

.footer-padding {
    padding-top: 30px;
}

.footer-line {
    margin-top: 30px;
    height: 1px;
    background-color: hsl(0, 0%, 83%);
}

.icon-footer {
    padding-left: 10px;
}

.footer-list {
    color: hsl(256, 26%, 20%);
    text-transform: uppercase;
    font-size: 0.8rem;
}

.footer-list li {
    margin-bottom: 10px;
}

/* -------- MEDIA QUERIES -------- */

@media (max-width: 575px) {
    h1, h2 {
        font-size: 3.5rem;
    }
    
    h3 {
        font-size: 3rem;
    }
    
    h4 {
        font-size: 1 rem;
        
    }

    .desktop {
        display: none;
    }

    .hero {
        text-align: center;
        padding-top: 0;
        position: relative;
    }
    .mobile {
        display: block;
        max-width: 100%;
        height: auto;
        margin: 0 auto;

    }

    .padding-xl {
        padding-top: 100px;
        padding-bottom: 90px;

    }

    .margin-t-m {
        margin-top: 40px;
    }

    .text-responsive {
        text-align: center;
        margin-right: auto;
        margin-left: auto;
    }

    .container-xl {
        padding-top: 75px;
        padding-bottom: 25px;
    }

    .center-mobile {
        text-align: center;
        margin: 65px auto;
    }

    .usp-margin {
        margin-bottom: 55px;
    }

    .footer-list {
        margin-bottom: 30px;
        margin-top: -30px;
    }

    .mobile-b-margin {
        margin-bottom: 20px;
    }

    .navbar-nav {
        background-color: hsl(256, 26%, 20%);
        padding: 0 auto;
        margin-right: -30px;
        margin-left: -30px;
        margin-bottom: -2px;
        
    }

    .nav-link {
        color: hsl(0, 0%, 98%) !important;
    }

    .navbar {
        padding-bottom: 0;
    }

    .navbar-brand, .navbar-toggler {
        padding: 0 15px 25px 15px;

    }

    .footer-column-heading {
        margin-bottom: 15px;
    }

    .nav-item {
        margin-bottom: 15px;
    }
    
    .last-item {
        padding-right: 12.5px;
    }





}